@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
    background-color: #ffffff;
  }


  .logo {
    text-align: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    animation: fadeInAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    } 
    @keyframes fadeInAnimation { 
         0% { 
            opacity: 0; 
        } 
        100% { 
            opacity: 1; 
            }
  }
  h1.logo {
    color: #6b89fd;
    font-size: 7.5vw;
    font-family: 'Ubuntu', sans-serif;
    display: inline;
  }
  h2.logo {
    color: #222222;
    font-size: 2vw;
    font-weight: 900;
    font-family: 'Ubuntu', sans-serif;
    display: inline;
  }
  h1.logof {
    color: #6b89fd
    ;
    font-size: 3.0vw;
    font-family: 'Ubuntu', sans-serif;
    display: inline;
  }
  h2.logof {
    color: #222222;
    font-size: 1.0vw;
    font-weight: 900;
    font-family: 'Ubuntu', sans-serif;
    display: inline;
  }

  .slogon {
    font-size: 1.5vw;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
  }

  p.slogonp {
    border-right: solid 0.3vw rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Ubuntu', sans-serif;  
    font-size: 2.8vw;
    color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
  }

  /* Animation */
  p.slogonp {
    animation: animated-text 4s steps(30,end) 1s 1 normal both,
               animated-cursor 600ms steps(30,end) infinite;
  }

  .element {
    width: 100%;
    height: 100%;
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity:0;
    }
    17% {
      opacity:100;
    }
    87% {
      opacity:100;
    }
    100% {
      opacity:0;
    }
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 40vw;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: #6b89fd;}
    to{border-right-color: transparent;}
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 5;
    overflow: hidden;
    background-color: #F5F5F5;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    color: #757575;
    text-align: center;
    padding: 2.5vw 1.6vw;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    color:#9E9E9E;
  }
  li a:focus {
    color: #08c;
  }
  
  /* .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #414141;
    color: white;
    clear: both;
    position: relative;
    height: 50px;
    margin-top: -50px;
 } */
 footer {
  color: inherit;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: center;
  padding-top: 24px;
  text-align: center;
  align-items: center;
}

footer > * {
  padding: 6px 12px;
  margin: 0;
}

 .logof {
  text-align: center;
  padding-top: 3vw;
  padding-right: 0vw;
  padding-bottom: 0vw;
  padding-left: 0vw;
  animation: fadeInAnimation ease 1s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
  } 
  
  .icons {
    text-align: center;
  }

  p {
    font-size: 1.2vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
  }

  p.ftxt {
    
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
  }  
  h1,h2,h3,h4,h5,h6{
  font-family: 'Ubuntu', sans-serif;
}

.grid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 32px 0;
  text-align: center;
  width: auto;
}

.grid > * {
  margin: 16px;
}

.grid .grid {
  padding: 0;
}

.grid .whole {
  display: block;
}

.grey {
  background-color: #fafafa;
}
